{% extends 'base.html' %} {% block title %} Upload videos {% endblock %} {%
block content%}

<div class="upload-container">
  <h1 class="upload-header"> <span class="title-color">Upload</span> Your New Videos</h1>
  <div id="flash-messages" >
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash-message {{ category }}" id="error-message">
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
  <form class="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="video" accept=".mp4" multiple>
    <input type="submit" value="Upload">
</form>
</div>
<script>
  var errorMessage = document.getElementById("error-message");
  // If the error message element exists
  if (errorMessage) {
    // Set a timer to remove the error message after 5 seconds
    setTimeout(function () {
      errorMessage.remove();
    }, 7000);
  }
</script>
{% endblock%}
